<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
</head>
<body>

<a href="{% url 'index_produtos' %}"> <<< Retornar para Página de Produtos <<<</a>
<br><br>

<table border="1">

    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Quantidade em Estoque</th>
      </tr>
    </thead>

    <tbody>

        <tr>
            <td>{{ item.nomenclatura }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.estoque }}</td>
        </tr>

    </tbody>

  </table>

</body>
</html>